<center>
	<div class="mdui-container mdui-typo">

		<h1>Converter</h1>
		<span id="typed"></span><br>
			<div class="mdui-typo"><p>开发：<a href="https://github.com/diyanqi/">diyanqi</a>、<a href="https://github.com/programerTobyLai">Tobylai</a></p></div>
			<br>
	    </div>
        <br><br><br>
<div class="mdui-container">
    <div class="mdui-card ">
  <div class="mdui-card-media ">
    <img src=" https://api.ixiaowai.cn/api/api.php"/>
    <div class="mdui-card-media-covered mdui-card-media-covered-top">
      <div class="mdui-card-primary">
        <div class="mdui-card-primary-subtitle">好像有点太单调了……来几张图片az</div>
      </div>
    </div>
  </div>
</div>
</div>
	</center>
  <script src="https://cdn.bootcss.com/typed.js/2.0.9/typed.min.js"></script>
<script type="text/javascript">
    var options = {
        strings: [
            'Converter',
            '是一款完全免费简洁的在线格式转换器',
            '只需动动手指',
            '就可将文件格式转换',
        ],
        typeSpeed: 100,   //打印速度
        startDelay: 300, //开始之前的延迟300毫秒
        loop: true,      //是否循环
    };
    var typed = new Typed('#typed', options);
</script>